<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/create">Crate Trade</a></li>
    <li role="presentation"><a href="/groww">Groww Token</a></li>
    <li role="presentation"><a href="/scanner">Scanner Token</a></li>
    <li role="presentation"><a href="/zerodha">Zerodha Token</a></li>
  </ul>